openapi: 3.2.0
info:
  title: Zetagen Therapeutics Content People API
  version: wp/v2
  summary: The anonymously readable WordPress REST content API behind zetagen.com.
  description: Zetagen Therapeutics runs no developer program and publishes no OpenAPI. This document is an API Evangelist derivation of the WordPress REST route index the site publishes at https://zetagen.com/wp-json/ (349 routes across 17 namespaces), narrowed to the operations that were verified to return data anonymously on 2026-08-05. Every write route and the entire plugin-administration surface is excluded — those require an authenticated WordPress user and were never exercised. The contract semantics (pagination, field selection, error envelope) are upstream WordPress REST behaviour, documented at https://developer.wordpress.org/rest-api/.
  contact:
    name: Zetagen Therapeutics
    url: https://zetagen.com/contact-us/
  x-provenance:
    method: derived
    generated: '2026-08-05'
    source: https://zetagen.com/wp-json/
    verified_against: live anonymous GET responses on 2026-08-05
    publisher: API Evangelist
    note: Not published by Zetagen Therapeutics. Derived and independently verified; no operation here was invented and every one returned 200 anonymously at harvest.
servers:
- url: https://zetagen.com/wp-json
  description: Production
tags:
- name: people
  description: Author records. Personal data — see x-personal-data. Documented for completeness; deliberately excluded from every packaged Agent Skill in this repo.
paths:
  /wp/v2/users:
    get:
      operationId: listUsers
      tags:
      - people
      summary: List site authors
      description: Returned 200 anonymously with X-WP-Total 4 at harvest. This is the standard WordPress author collection; it exposes author display names, slugs, descriptions and avatar URLs (not email addresses) without credentials. Documented here for completeness of the contract only — no response data was captured, no example is provided, and this operation is deliberately excluded from every packaged Agent Skill in this repo. See review.yml.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A page of author records.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      x-personal-data: true
      x-agentic-access:
        action-class: connected
        consequence: read
        note: Personal data. Excluded from skills and from any derived tool surface under the API Evangelist enrichment PII guardrail.
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Items per page. Values above 100 return 400 rest_invalid_param, not a clamp.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Page:
      name: page
      in: query
      description: Current page of the collection, 1-based.
      schema:
        type: integer
        minimum: 1
        default: 1
    Fields:
      name: _fields
      in: query
      description: Comma-separated allow-list of top-level response fields.
      schema:
        type: string
    Context:
      name: context
      in: query
      description: Response shape. Anonymously only `view` and `embed` return data; `edit` requires an authenticated user and returns 401.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
  headers:
    XWPTotal:
      description: Total number of matching items.
      schema:
        type: integer
externalDocs:
  description: WordPress REST API Handbook — the upstream contract this deployment implements
  url: https://developer.wordpress.org/rest-api/
