openapi: 3.2.0
info:
  title: Zetagen Therapeutics Content Downloads API
  version: wp/v2
  summary: The anonymously readable WordPress REST content API behind zetagen.com.
  description: Zetagen Therapeutics runs no developer program and publishes no OpenAPI.
  contact:
    name: Zetagen Therapeutics
    url: https://zetagen.com/contact-us/
  x-provenance:
    method: derived
    generated: '2026-08-05'
    source: https://zetagen.com/wp-json/
    verified_against: live anonymous GET responses on 2026-08-05
    publisher: API Evangelist
    note: Not published by Zetagen Therapeutics. Derived and independently verified; no operation here was invented and every one returned 200 anonymously at harvest.
servers:
- url: https://zetagen.com/wp-json
  description: Production
tags:
- name: Downloads
  description: WP Download Manager public search.
paths:
  /wpdm/search:
    get:
      operationId: searchDownloads
      tags:
      - Downloads
      summary: Search the WP Download Manager package index
      description: The public read route of the WP Download Manager plugin. Registered and anonymously reachable; the other wpdm routes (validate-captcha, validate-password, view-count) are POST and are not modelled.
      parameters:
      - name: s
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Matching download packages.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
externalDocs:
  description: WordPress REST API Handbook — the upstream contract this deployment implements
  url: https://developer.wordpress.org/rest-api/
